
h1.title {
    font-size:40px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #222;
}

/* Portrait layout (default) */
.app {
    padding:120px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;    /* image height is 200px (bottom 20px are overlapped with text) */
    }
    h1.title {
        margin-top:-20px;
        overflow:visible;
        text-align:center;
    }

}

 .app {
    background: 0 0;
}

.wrapper{
    height: 87vh;
    background-color: rgb(72,214,253);
    padding: 0;
    margin: 0;
}

form#textForm{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

form#textForm textarea#text{
    width: 100%;
    height: 90% !important;
    font-size: 16px;
    padding: 0;
    margin: 0;
    border:0;
    border-radius: 0px;
    background-color: #FFF;
}

form#textForm input#button_send{
    width: 100%;
    height: 8%;
    padding: 0;
    border:0;
    border-radius: 0px;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #333;
}

.content p {
    padding: 1% 5%;
}


.content ul{
    overflow:hidden; 
    overflow-y:scroll;
    width: 100%;
}

.content ul li span.text-holder{
    width: 65%;
    float: left;
}

.content ul li span.date-holder{
    width: 35%;
    float: left;
    color: #222;
    font-weight: lighter;
}

.indicator {
    background-color: red;
    padding: 0;
    margin: 0;
}

.indicator ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.indicator ul li {
    float: left;
    padding: 0;
    margin: 0;
    background-color: #222;
    text-align: center;
    border: 2px solid #fff;
    height: 3vh;
}

.indicator ul li.indicator-active {
    background-color: rgb(72,214,253);
}

.resultAnalyse-header{
    background-color: #333;
    top: 0px;
    position: relative;
    width: 100%;
    color: #fff;
}

#resultAnalyse{
    position:fixed;
    top:-100%;
    left:0%;
    height:100%; 
    background-color: #DBDBDB;
    width: 100%;
    display: block;
    z-index:999999;
}

.graph-holder{
    height: 30%; 
    width: 100%;
}
.list-holder{
    height: 75%; 
    width: 100%;
    background-color: #fff;
    float: left;
}


.list-holder ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden; 
    overflow-y:scroll;
    height: 80%;
    max-height: 92vh;
}

.list-holder ul li {
    font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
}

.list-holder ul li div.sentence{
    font-weight: bold;
}

.list-holder ul li div.emotion-tone, .list-holder ul li div.writing-tone, .list-holder ul li div.social-tone{
    width: 33.333333%;
    float: left;
    font-size: 10px;
    border-bottom: 1px solid #ccc;
}

.history.list-holder ul li div.sentence{
    width: 60%;
    float: left;
    font-weight: bold;
}

.history.list-holder ul li div.analyse-date{
    font-style: italic;
    width: 10%;
    float: left;
    text-align: center;
    /*font-size: 13px;*/
}

.history.list-holder ul li div.analyse_id{
    display: none;
}

canvas#graphA,canvas#graphB,canvas#graphC{
    width: 25%;
    height: 100%;
    float: left;
}

.ui-panel{
    width: 20%;
}


.chart-legend ul li { list-style:none; }
.chart-legend { float: left;margin-left: -50px; }
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 4px;
}

.ui-field-contain>label{
    width: 100%;
}


/* Sprites */
.Anger {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 205.5px 120px;
}

.Disgust {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 392px 97px;
}

.Fear {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 392px 0;
}

.Joy {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) -15px 396px;
}

.Sadness {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 206px 0;
}

.Analytical {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 205.5px 97px;
}

.Confident {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 390px 49px;
}

.Tentative {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 205.5px 145px;
}

.Openness {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 299px 145px;
}

.Conscientiousness {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 206px 396px;
}

.Extraversion {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 113px 97px;
}

.Agreeableness {
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 206px 24px;
}

.Emotional.Range{
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 113px 145px;
}

.undefined{
    width: 24px;
    height: 25px;
    background: url(../img/emoticons.gif) 392px 120px;
}

